<h1>Sale Reports</h1>
<% provide(:title, "Sale Reports") %>

<div class="row">
  <div class="col">
    <p>
      You can generate sales reports for the active gear sale, which is <b><%= @active_sale.name %></b>.
      <br>
      Reports will be given in CSV format, which you should be able to copy and paste into Excel, Google Sheets, etc.
    </p>

    <%= form_with url: generate_report_path, method: :post, local: true do |f| %>
      <h5>Report Options</h5>
      <div class="form-check">
        <%= f.check_box :only_finalized, class: "form-check-input", id: 'only_finalized' %>
        <label for="only_finalized">Only Include Finalized Orders</label>
      </div>
      <h5>Report Type</h5>
      <div class="form-group">
        <%= f.select :report_type, {}, { class: 'custom-select' } do %>
          <%= options_for_select [['Item Sales', 'item_sales'], ['Orders By Person', 'orders_by_person']] %>
        <% end %>
        <p class="form-text text-muted">
          Item Sales: includes each item and the number sold in each size.
          <br>
          Orders By Person: includes buyer and payment information for each order.
        </p>
      </div>

      <br>

      <div class="form-group">
        <%= f.submit 'Generate Report', class: 'btn btn-primary' %>
      </div>
    <% end %>
  </div>
</div>

