<%= form_with(model: purchase, url: purchase.new_record? ? order_purchases_path : order_path, local: true) do |form| %>
    <% if purchase.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(purchase.errors.count, "error") %> prohibited this purchase from being saved:</h2>

          <ul>
            <% purchase.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

      <div class="card-deck">

        <% i = 0 %>

        <% Item.all.each do |item| %>

            <div class="card">
              <%= image_tag item.photo.url, class: 'card-img-top' %>
              <div class="card-body">
                <h4 class="card-title"><%= item.name %></h4>
                <p class="card-text"><%= item.description %></p>
              </div>
              <div class="card-footer">
                <% item.sizes.each do |size| %>
                  <%= link_to size.size, orders_create_purchase_path(@order.id, item.id, size.id) %>
                <% end %>
              </div>
            </div>

            <% if i % 3 == 0 && i != 0 %>
                </div>
                <div class="card-group">
            <% end %>
            <% i += 1 %>
        <% end %>

        </div>

<% end %>
