<h1>Add Item To Order</h1>

<div class="card-columns">

  <% Item.order('name').each do |item| %>
      <div class="card">
        <% unless item.photo.file.nil? %>
            <%= image_tag item.photo.url, class: 'card-img-top' %>
        <% end %>
        <div class="card-body">
          <h4 class="card-title">
            <%= item.name %>
            <br>
            <strong><small><%= number_to_currency item.price %></small></strong>
          </h4>
          <p class="card-text"><%= item.description %></p>
        </div>
        <div class="card-footer">
          <h6>Add Size To Order</h6>
          <% item.sizes.each do |size| %>
              <%= link_to size.size, orders_create_purchase_path(@order.id, item.id, size.id), method: :post, class: 'btn btn-primary' %>
          <% end %>
        </div>
      </div>
  <% end %>
</div>
