<%= provide(:title, "HRC Order for #{@order.first_name} #{@order.last_name}") %>

<div class="row">
  <div class="col-md-12">
    <h1>Order for <%= @order.first_name %> <%= @order.last_name %></h1>
    <% if user_signed_in? %>
        <div class="card">
          <div class="card-header">
            Order Status
          </div>
          <div class="card-body">
            Finalized: <b><%= @order.confirmed? ? 'Yes' : 'No' %> <br></b>
            Fulfilled: <b><%= @order.fulfilled? ? 'Yes (order cannot be modified unless marked un-fulfilled)' : 'No' %></b>
          </div>
        </div>
    <% else %>
        <% if @order.confirmed? %>
            <% if @order.fulfilled %>
            <div class="alert alert-success">
              Your order has been fulfilled! Thanks for supporting Husky Running Club!
            </div>
            <% else %>
                <div class="alert alert-success">
                  Your order has been finalized! Please bring payment via cash, check, or by sending the grand total amount to <b>@huskyrunningclub</b> on Venmo.
                  <br>
                  Once you make a payment, the amount should be updated here within a day or so. You can check the status of this order by visiting this link.
                  <br>
                  We will let you know once gear orders arrive!
                </div>
            <% end %>
        <% else %>
            <div class="alert alert-info">
                Add items to your order by clicking the "Add Item To Order" link below. Once you're done adding items, click "Finalize Order."
              <br>
                If you haven't made up your mind yet, you can return to this page anytime by <%= link_to 'bookmarking it', @order %>.
            </div>
        <% end %>
    <% end %>
    <table class="table">
      <thead>
      <tr>
        <th style="width: 100px;">Quantity</th>
        <th style="width: 100px;">Price</th>
        <th>Item</th>
        <th>Size</th>
        <th>Total Price</th>
        <% unless @order.confirmed? %>
            <th>Actions</th>
        <% end %>
      </tr>
      </thead>
      <tbody>
      <% @order.purchases.each do |p| %>
          <tr>
            <td><%= p.quantity %></td>
            <td><%= number_to_currency p.item_size.price %></td>
            <td><%= p.item_size.item.name %></td>
            <td><%= p.item_size.name %></td>
            <td><%= number_to_currency(p.item_size.price * p.quantity) %></td>
            <% unless @order.confirmed? %>
                <td>
                  <%= link_to 'Remove', order_purchase_path(p.order, p), method: :delete, 'data-confirm': 'Are you sure?' %>
                </td>
            <% end %>
          </tr>
      <% end %>
      <% if @order.purchases.size == 0 %>
      <tr>
        <td colspan="6">
          <p><em>Nothing here yet! Click "Add Item To Order" to add something.</em></p>
        </td>
      </tr>
      <% end %>
      </tbody>
    </table>

  </div>
</div>
<div class="row">
  <div class="col">
    <div class="card bg-light border-success">
      <div class="card-header">Order Actions</div>
        <div class="list-group list-group-flush">
          <% unless @order.confirmed? %>
              <%= link_to 'Add Item To Order', new_order_purchase_path(@order), class: 'list-group-item list-group-item-action list-group-item-primary' %>
              <%= link_to 'Change Name and Email', edit_order_path(@order), class: 'list-group-item list-group-item-action list-group-item-dark' %>
              <%= link_to 'Finalize Order', toggle_finalized_path(@order), method: :patch, 'data-confirm': 'Once you finalize this order, you will be unable to change it. Are you sure?', class: 'list-group-item list-group-item-action list-group-item-success' %>
          <% end %>

          <% if @order.confirmed? && user_signed_in? && !@order.fulfilled? %>
                <%= link_to 'Un-Finalize Order', toggle_finalized_path(@order), method: :patch, class: 'list-group-item list-group-item-action list-group-item-warning' %>
          <% end %>

          <% if @order.confirmed? && !user_signed_in? %>
              <div class="card-body">
                <em>You're all set! We'll make an announcement when gear orders arrive.</em>
              </div>
          <% end %>
        </div>
    </div>
    <% if user_signed_in? %>
        <%= link_to 'Back', orders_path %>
    <% end %>
  </div>

  <div class="col">

    <div class="card bg-light border-primary">
      <div class="card-header">
        Payment History
      </div>
      <div class="card-body">
        <p>Payments can be made via cash, check, or Venmo <b>@huskyrunningclub</b>.</p>
        <table class="table table-sm">
          <thead>
          <tr>
            <th>Date</th>
            <th>Amount</th>
            <th>Method</th>
            <% if user_signed_in? && !@order.fulfilled? %>
                <th>Actions</th>
            <% end %>
          </tr>
          </thead>
          <tbody>
          <% @order.payments.each do |p| %>
              <tr>
                <td><%= p.created_at.strftime('%B %d, %Y') %></td>
                <td><%= number_to_currency p.amount %></td>
                <td><%= p.method %></td>
                <% if user_signed_in? && !@order.fulfilled? %>
                    <td><%= link_to 'Delete', order_payment_path(@order, p), method: :delete, 'data-confirm': 'Are you sure you want to delete this payment?' %></td>
                <% end %>
              </tr>
          <% end %>
          <% if @order.payments.size == 0 %>
            <td colspan="4"><em>Nothing here yet! Payments will be reflected within a few days of receipt.</em></td>
          <% end %>
          </tbody>
        </table>
        <h5>Grand total: <%= number_to_currency @order.total %></h5>
        <h6>Amount due: <%= number_to_currency @order.total - @order.amount_paid %></h6>
      </div>
      <% if user_signed_in? %>
          <div class="card-footer">
            <p>Add Payment</p>
            <%= form_with model: @order.payments.build, url: order_payments_path(@order.id), local: true, html: {class: 'form-inline'} do |f| %>
                <%= f.label :amount, class: 'sr-only' %>

                <div class="input-group">
                  <div class="input-group-addon">$</div>
                  <%= f.number_field :amount, placeholder: 'Amount', step: 0.01, class: 'form-control', id: 'payment_amount', style: 'width: 150px;' %>
                </div>

                <%= f.label :method, class: 'sr-only' %>
                <%= f.select :method, {}, {}, {class: 'form-control mr-sm-3 ml-sm-3', id: 'payment_method'} do %>
                    <option value="" disabled selected>Method</option>
                    <option value="Venmo">Venmo</option>
                    <option value="Cash">Cash</option>
                    <option value="Check">Check</option>
                    <option value="Refund">Refund</option>
                <% end %>
                <%= f.submit class: 'btn btn-primary' %>
            <% end %>
          </div>
      <% end %>
    </div>

  </div>
</div>


