<%= provide(:title, "HRC Order for #{@order.user.display_name}") %>

<div class="row">
  <div class="col-md-12">
    <h1>Order Status</h1>
    <p class="lead">
      <%= @order.user.display_name %> <span class="float-right"><%= @order.user.email %></span>
    </p>
    <% if admin_signed_in? %>
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Admin Information</h4>
          <% unless @order.user == current_user %>
            <p>
              <span class="text-danger">
                <b>Warning: </b>you are logged in as an admin user and this is not your personal order.
                Be careful when making changes to this order.
              </span>
            </p>
          <% end %>
          Finalized: <b><%= @order.confirmed? ? 'Yes' : 'No' %> <br></b>
          Fulfilled: <b><%= @order.fulfilled? ? 'Yes (order cannot be modified unless marked un-fulfilled)' : 'No' %></b>
        </div>
      </div>
    <% else %>
      <% if @order.confirmed? %>
        <% if @order.fulfilled %>
          <div class="alert alert-success">
            Your order has been fulfilled! Thanks for supporting Husky Running Club!
          </div>
        <% else %>
          <div class="alert alert-success">
            Your order has been finalized! Please bring payment via cash, check made out to <b>UW Husky Running Club</b>, or by sending the grand total amount to <b>@huskyrunningclub</b> on Venmo.
            Once you make a payment, the amount should be updated here within a day or so. You can check the status of this order by visiting this link.
            We will let you know once gear orders arrive!
          </div>
        <% end %>
      <% elsif @order.gear_sale.open? %>
        <div class="alert alert-info">
          Add items to your order by clicking the "Add Item To Order" link below. Once you're done adding items, click "Finalize Order."
        </div>
      <% else %>
        <div class="alert alert-warning">
          Unfortunately, gear orders are now closed for this sale. If you are still interested in ordering gear, please
          contact us directly as soon as possible, and we may be able to accommodate your order.
        </div>
      <% end %>
    <% end %>
    <table class="table">
      <thead>
      <tr>
        <th style="width: 100px;">Price</th>
        <th>Item</th>
        <th>Size</th>
        <th>Total Price</th>
        <% unless @order.confirmed? %>
          <th>Actions</th>
        <% end %>
      </tr>
      </thead>
      <tbody>
      <% unavailable_items = false %>
      <% @order.purchases.each do |p| %>
        <% available = p.item.sizes.include?(p.size); unavailable_items ||= !available %>
        <tr<% unless available %> class='table-warning font-weight-light'<% end %>>
          <td><%= number_to_currency p.item.price %></td>
          <td><%= p.item.name %></td>
          <td><%= p.size.size %><% unless p.item.sizes.include?(p.size) %><span class="text-danger font-weight-bold"> **</span><% end %></td>
          <td><%= number_to_currency(p.item.price) %></td>
          <% unless @order.confirmed? %>
            <td>
              <%= link_to 'Remove', order_purchase_path(p.order, p), method: :delete, 'data-confirm': 'Are you sure?' %>
            </td>
          <% end %>
        </tr>
      <% end %>
      <% if @order.purchases.size == 0 %>
        <tr>
          <td colspan="6">
            <p><em>Nothing here yet! Click "Add Item To Order" to add something.</em></p>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>

    <% if unavailable_items %>
      <p>
        <span class="text-danger"><b>**</b></span> <b>NB:</b> This item is currently unavailable in this size.
        Your order total will not include the price of this item. If you still wish to purchase this item, please remove
        it and select a new size. Let an officer know if you have and questions!
      </p>
    <% end %>

  </div>
</div>


<div class="row mb-5">
  <div class="col">
    <% if @order.gear_sale.open? || (@order.gear_sale.active? && admin_signed_in?) %>
      <div class="card border-success">
        <div class="card-body pb-1">
          <h4 class="card-title">Order Actions</h4>
          <% if @order.confirmed? && !admin_signed_in? %>
            <p>
              You're all set! We'll make an announcement when gear orders arrive. Please make sure you've paid for your order.
            </p>
          <% end %>
        </div>
        <ul class="list-group list-group-flush">
          <% unless @order.confirmed? || (!@order.gear_sale.open? && !admin_signed_in?) %>
            <li class="list-group-item">
              <%= link_to 'Add Item To Order', orders_new_purchase_path(@order) %>
            </li>
            <li class="list-group-item">
              <p class="mb-1">
                <%= link_to 'Finalize Order', toggle_finalized_path(@order), method: :patch, 'data-confirm': 'Once you finalize this order, you will be unable to change it. Are you sure?'%>
              </p>
              <% unless admin_signed_in? %>
                <small>You won't be able to make changes to your order once it's finalized.</small>
              <% end %>
            </li>
          <% end %>

          <% if @order.confirmed? && admin_signed_in? && !@order.fulfilled? %>
            <%= link_to 'Un-Finalize Order', toggle_finalized_path(@order), method: :patch, class: 'list-group-item list-group-item-action list-group-item-warning' %>
          <% end %>
        </ul>
      </div>

    <% end %>

    <% if admin_signed_in? && GearSale.active_sale %>
      <%= link_to 'Back To All Orders', orders_path, class: 'btn btn-link mt-2' %>
    <% end %>

    <%= link_to 'Back To Profile', user_index_path, class: 'btn btn-link mt-2' %>
  </div>

  <div class="col">
    <div class="card bg-light border-primary">
      <div class="card-body">
        <h4 class="card-title">Payment History</h4>
        <p>Payments can be made via cash, check made out to <b>UW Husky Running Club</b>, or Venmo to <b>@huskyrunningclub</b>.</p>
        <table class="table table-sm">
          <thead>
          <tr>
            <th>Date</th>
            <th>Amount</th>
            <th>Method</th>
            <% if admin_signed_in? && !@order.fulfilled? %>
              <th>Actions</th>
            <% end %>
          </tr>
          </thead>
          <tbody>
          <% @order.payments.each do |p| %>
            <tr>
              <td><%= p.created_at.strftime('%B %d, %Y') %></td>
              <td><%= number_to_currency p.amount %></td>
              <td><%= p.method.humanize %></td>
              <% if admin_signed_in? && !@order.fulfilled? %>
                <td><%= link_to 'Delete', order_payment_path(@order, p), method: :delete, 'data-confirm': 'Are you sure you want to delete this payment?' %></td>
              <% end %>
            </tr>
          <% end %>
          <% if @order.payments.size == 0 %>
            <td colspan="4"><em>Nothing here yet! Payments will be reflected within a few days of receipt.</em></td>
          <% end %>
          </tbody>
        </table>
        <h5>Grand total: <%= number_to_currency @order.total %></h5>
        <h6>Amount due: <%= number_to_currency @order.total - @order.amount_paid %></h6>
      </div>
      <% if admin_signed_in? %>
        <div class="card-footer">
          <p>Add Payment</p>
          <%= form_with model: @order.payments.build, url: order_payments_path(@order.id), local: true, html: {class: 'form-inline'} do |f| %>
            <%= f.label :amount, class: 'sr-only' %>

            <div class="input-group">
              <div class="input-group-prepend"><span class="input-group-text">$</span></div>
              <%= f.number_field :amount, placeholder: 'Amount', step: 0.01, class: 'form-control', id: 'payment_amount', style: 'width: 150px;' %>
              <div class="input-group-append">
                <%= f.select :method, options_for_select([["Method", ""]] + Payment.methods.keys.map {|x| [x.humanize, x]}), {}, class: 'custom-select mr-2', style: 'border-top-left-radius: 0px;border-bottom-left-radius: 0px;' %>
              </div>
            </div>

            <div class="input-group">
              <%= f.submit class: 'btn btn-primary' %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>


