
<h1>Items</h1>
<p>
  Each item for this sale is listed below, along with the price, and quantity sold in each size. "&mdash;" indicates
  that the item is unavailable in that size.
</p>
<table class="table table-sm table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <% Size.order('id').each do |s| %>
          <th><%= s.size %> Sold</th>
          <% end %>
    </tr>
  </thead>

  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= link_to item.name, item %></td>
        <td><%= number_to_currency item.price %></td>
        <% Size.order('id').each do |s| %>
          <% if item.sizes.exists? s.id %>
            <td><%= s.purchases.where(item: item).count %></td>
            <% else %>
            <td>&mdash;</td>
          <% end %>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Back', admin_index_path, class: 'btn btn-link' %>
<%= link_to 'New Item', new_item_path, class: 'btn btn-link' %>
