
<h1>Items</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th></th>
      <th colspan="<%= Size.count%>">Sales</th>
    </tr>
    <tr>
      <th>Name</th>
      <% Size.order('id').each do |s| %>
          <th><%= s.size %></th>
          <% end %>
    </tr>
  </thead>

  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= link_to item.name, item %></td>
        <% Size.order('id').each do |s| %>
          <% if item.sizes.exists? s.id %>
            <td><%= s.purchases.where(item: item).count %></td>
            <% else %>
            <td>&mdash;</td>
          <% end %>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Back', admin_index_path, class: 'btn btn-link' %>
<%= link_to 'New Item', new_item_path, class: 'btn btn-link' %>
