<!DOCTYPE html>
<html>
<head>
  <title><%= yield :title %></title>
  <%= csrf_meta_tags %>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a href="/" class="navbar-brand">HRC Gear Order System</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-nav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse text-right" id="main-nav">
      <ul class="navbar-nav">
        <li class="nav-item"><%= link_to 'Order Gear', new_order_path, class: 'nav-link' %></li>
        <!--<li class="nav-item"><a href="#" class="nav-link">Check Order Status</a></li>-->
        <% if user_signed_in? %>
            <li class="nav-item"><%= link_to 'Sign Out', destroy_user_session_path, class: 'nav-link', method: :delete %></li>
            <li class="navbar-text"><%= current_user.email %></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
<br>
<div class="container">
  <% if notice %>
      <div class="alert alert-primary">
        <%= notice %>
      </div>
      <% end %>
  <% if alert %>
      <div class="alert alert-danger">
        <%= alert %>
      </div>
  <% end %>
  <%= yield %>
</div>
</body>
</html>
