<!DOCTYPE html>
<html>
<head>
  <title><%= content_for?(:title) ? yield(:title) : 'HRC Gear Orders' %></title>
  <%= csrf_meta_tags %>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a href="/" class="navbar-brand">HRC Gear Order System</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-nav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="main-nav">
      <ul class="navbar-nav mr-auto">
        <!--<li class="nav-item"><a href="#" class="nav-link">Check Order Status</a></li>-->
        <% if user_signed_in? %>
          <% if admin_signed_in? %>
            <li class="nav-item"><%= link_to 'Admin Panel', admin_index_path, class: 'nav-link' %></li>
          <% end %>
          <li class="nav-item"><%= link_to 'Sign Out', destroy_user_session_path, class: 'nav-link', method: :delete %></li>
        <% end %>
      </ul>
      <ul class="navbar-nav">
        <% if user_signed_in? %>
          <li class="nav-item"><span class="navbar-text"><%= current_user.display_name %></span></li>
        <% else %>
          <li class="nav-item"><%= link_to 'Sign-In', new_user_session_path, class: 'nav-link' %></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
<br>
<div class="container">
  <% flash.each do |name, msg| %>
    <div class="alert alert-<%= name %>">
      <div class="mb-0">
        <%= msg.html_safe %>
      </div>
    </div>
  <% end %>
  <%= yield %>
</div>
</body>
</html>
